.header {
  display: flex;
  padding-top: 45px;
  padding-bottom: 41px;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  border-bottom: solid 1px rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
    padding-bottom: 31.6px;
    margin: 0;
  }
}
