.popup__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    border: none;
    background: url(../__close-button/Close\ Icon.svg) no-repeat top center;
    padding: 0;
}

@media screen and (max-width:768px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: contain;
        top: -36px;
        right: 0;
    }
}